doctype html 
html 
    head 
        title='Company'
        link(rel="stylesheet", href="style.css")
        script(src='/myscript.js')
        body 

        h1 SBA 318 REST APIs with Express
        h2 WoW #{storename} #{title} 
        a(href='/products') Products
        a(href='/users') User
        a(href='/payments') Payments

        p we have the best solution for your idea
        form(action='/create', method='post')
        a(href='/download') Download Our Catalog 
        input(type='text')
       
        <button type="Submit">Subscribe</button>
        hr
        img(src='imagePug.jpg')

        